<div class="container">
    <div class="card">
        <h2 class="d-flex justify-content-center p-3">Sundar Pichai</h2>
        <p class="mx-5">Pichai Sundararajan (born June 10, 1972[1][4][5]), better known as Sundar Pichai (/ˈsʊndʌr pɪˈtʃaɪ/), is an
            Indian-American business executive.[6] He is the chief executive officer (CEO) of Alphabet Inc. and its
            subsidiary Google.

            Born in Madras, India,[4] Pichai earned his degree from IIT Kharagpur in metallurgical engineering. Moving
            to the United States, he attained an M.S. from Stanford University in materials science and engineering and
            further attained an MBA from the Wharton School of the University of Pennsylvania, where he was named a
            Siebel Scholar and a Palmer Scholar, respectively.[7]

            Pichai began his career as a materials engineer. Following a short stint at the management consulting firm
            McKinsey & Co., Pichai joined Google in 2004,[8] where he led the product management and innovation efforts
            for a suite of Google's client software products, including Google Chrome and Chrome OS, as well as being
            largely responsible for Google Drive. In addition, he went on to oversee the development of other
            applications such as Gmail and Google Maps. In 2010, Pichai also announced the open-sourcing of the new
            video codec VP8 by Google and introduced the new video format, WebM. The Chromebook was released in 2012. In
            2013, Pichai added Android to the list of Google products that he oversaw.</p>
    </div>
</div>